[service]
AppMode = debug
HttpPort = :4000

[redis]
RedisDb = redis
RedisAddr = localhost:6379
RedisPw = 123456
RedisDbName = 2

[mysql]
Db = mysql
DbHost = localhost
DbPort = 3306
DbUser = root
DbPassWord = root
DbName = todolist
