[service]
AppMode = debug
HttpPort = :3000

[redis]
RedisDb = redis
RedisAddr = localhost:6379
RedisPw =
RedisDbName = 2

[mysql]
Db = mysql
DbHost = localhost
DbPort = 3306
DbUser = todolist
DbPassWord = todolist
DbName = todolist
